.Meme {
  font-size: 30px;
  position: relative;
  text-align: center;
  width: 25%;
  height: auto;
  color: white;
}

.Meme img {
  width: 100%;
  height: auto;
}

.Meme-top {
  position: absolute;
  top: 8px;
}

.Meme-bottom {
  position: absolute;
  bottom: 8px;
}

.Meme-button {
  position: absolute;
  bottom: 50%;
  right: -10%;
}